@import 'variables';

h1 {
    color: $red_color;
}

h2 {
    color: green;
}

.navbar {
    opacity: 0.95;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

body {
    margin: 100px auto;
}

.footer {
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #ccc;
    background-color: #fff;

    .footer-list {
        margin: 3px 16px;
        padding-left: 0;
        display: inline-block;
    }
    
    .footer-item {
        display: inline-block;
        margin: auto 10px;
        cursor: pointer;
    }
}



.card {

    a {
        text-decoration: none;
        color: #000;
    }
}

.user-avatar {
    width: 25px;
    border-radius: 50%;
    margin-right: 5px;
}

.trash-btn{
    
    color: #fff;
    text-decoration: none;
    border: none;
    padding: 6px 12px;
    background-color: #6c757d;
    border-radius: 4px;
    
    &:hover {
        opacity: 0.9;
        color: #fff;
    }
    
    .trash, i, .back {
        display: inline-block;
        line-height: 36px;
    }
}

.btn-success {
    height: 36px;
}

.checkbox-select-all-options {
    width: 170px;
}

.find-id-btn {
    width: 180px;
    margin-left: 10px;
}