<div class="container">
    <div class="row mt-5">
        <div class="col col-lg-3">
            <button type="button" class="btn btn-primary">Học ngay</button>
            <p>{{course.level}}</p>
        </div>
        <div class="col col-lg-9">
            <h2>{{course.name}}</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{course.videoID}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>{{course.description}}</p>
        </div>
    </div>
</div>