<div class="container-fluid footer">
  <div class="footer-list">
    <div class="footer-item">Giới thiệu</div>
    <div class="footer-item">Cơ hội việc làm</div>
    <div class="footer-item">Đối tác</div>
  </div>

  <div class="footer-list">
    <div class="footer-item"><i class="ti-facebook"></i></div>
    <div class="footer-item"><i class="ti-youtube"></i></div>
  </div>
</div>