<div class="search-form mt-4">
    <form method="POST">
  <div class="mb-3">
    <label for="gender-input" class="form-label">Nhập từ khóa</label>
    <select name="gender" id="gender-input" class="form-control">
        <option value="">-- Chọn giới tính --</option>
        <option value="female">Female</option>
        <option value="male">Male</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>
</div>